*
{
    
    font-family: 'Times New Roman';
}
body{
    background-color: whitesmoke;
    margin:0;
}

.topnav
{
background-color: white;

overflow: hidden;
}

    .topnav a
    {
    float: left;
    color: black;
    text-align:center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 1.6rem;
    height: 30px;
    }

    .topnav a:hover
    {
    background-color: whitesmoke;
    color: black;
    }

    .topnav a.active
    {
    background-color: whitesmoke;
    color:black;
    }
    
    .topnav a.image{
        margin-top:12px;
        margin-left: 5px;
        margin-right: 10px;
         padding:0; 
    }
    .topnav a.image :hover{
       background-color: white;
    }